@media screen and (max-width: 900px) {
    .more_about{
        width: 90%;
    }    
}

@media screen and (max-width: 600px) {
    .nav_bar ul{
        display: none;
    }
    .menu{
        display: flex;
    }
    .menu i{
        display: block;
    }
    .container{
        width: 90%;
    }
    .header_title{
        width: 100%;
        text-align: center;
        align-items: center;
        background-position: center left;
    }
    #search_bar #search_inp{
        width: 50vw;
    }
    .more_about{
        width: 100%;
    }    
    #my_file .box{
        flex-direction: column;
    }
    #my_file .box:nth-child(2)
{
    flex-direction: column;
}
    #my_file .box img{
        width: 60vw;
    }
    
}


@media screen and (max-height: 500px) {
    header{
        height: 60vw;
    }
}